.profile-section {
  width: 100%;
  color: #111b21;
  background-color: #f0f2f5;
  height: 100vh;
}

.profile__header {
  padding: 20px;
  background-color: #ffffff;
}

.profile__title {
  font-size: 24px;
  font-weight: 700;
}

.profile__avatar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  position: relative;
  height: 250px;
  background-color: #f0f2f5;
}

.profile__avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #ddd;
}

.profile__avatar-overlay {
  position: absolute;
  top: 10%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.profile__avatar-overlay:hover {
  opacity: 1;
  background-color: rgba(70, 70, 70, 0.7);
}

.profile__camera-icon {
  color: #ffffff;
}

.profile__avatar-text {
  color: #ffffff;
}

.profile__info-item {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.profile__info-content {
  display: flex;
  flex-direction: column;
}

.profile__info-label {
  color: #008069;
  font-size: 14px;
  margin-bottom: 20px;
}

.profile__info-value {
  font-size: 16px;
  color: #3B4A54;
  width: 250px;
  background-color: inherit;
  border: none;
}

.profile__info-edit {
  border: none;
  border-bottom: 2px solid #008069;
  outline: none;
  padding: 8px;
  width: 250px;
  font-size: 16px;
}

.edits-options {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  gap: 10px;
}

.value-count {
  color: #d1d7d8;
  font-size: 14px;
}

.emoji-symbol {
  cursor: pointer;
  margin-left: 6px;
  color: #706e6e;
}

.update-btn {
  background: none;
  border: none;
  color: #9299a4;
  cursor: pointer;
  font-size: 18px;
  transition: color 0.3s ease;
}

.profile__edit-btn {
  background: none;
  margin-top: 35px;
  border: none;
  color: #9299a4;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  transition: color 0.3s ease;
}

.profile__security-note {
  font-size: 14px;
  color: #54656F;
  padding: 20px 20px 20px 20px;
  width: 100%;
  height: 80px;
  background-color: #f0f2f5;
}
